.container {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
}

.question {
  padding: 0.5rem;
}
.question-num {
  display: flex;
  justify-content: space-between;
}

.question-num span {
  font-size: 1.3rem;
}
.score {
  font-size: 1.3rem;
}
.ques {
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  flex-direction: column;
}

.option {
  font-size: 1.2 rem;
  font-weight: 600;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.opt {
  padding: 1rem;
  background-color: #ecc94b;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.opt input {
  width: 15px;
  height: 15px;
  cursor:pointer;
}
.opt input:checked {
  background-color: #ecc94b;
}

.opt span{
  letter-spacing:2px;
}

.btn-quiz {
  text-align: right;
  margin-right: 1rem;
  margin-top: 1rem;
}

.btn-quiz button {
  padding: 0.5rem 1rem;
  background-color: #131417;
  color: white;
  font-weight:bold;
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
  text-align:center;
  cursor:pointer;
}

@media only screen and (max-width: 768px) {
  .container{
    width:100%;
  }
}