.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.quiz-one {
  text-align: center;
  padding: 1.5rem 1rem;
  margin: 1.5rem;
  /* border:1px solid black; */
  border-radius: 5px;
  background-color: #ecc94b;
  /* box-shadow: 5px 10px 8px 10px #888888; */
}
.quiz-two {
  text-align: center;
  padding: 1.5rem 1rem;
  margin: 1.5rem;
  /* border:1px solid black; */
  border-radius: 5px;
  background-color: #9f7aea;
  /* box-shadow: 5px 10px 8px 10px #888888; */
}

.category {
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration:none;
}

.link{
  letter-spacing: 2px;
  text-decoration:none;
  background-color:lightblue;
  padding:0.7rem;
  color:black;
  border-radius:3px;
  cursor:pointer;
}

@media only screen and (min-width: 768px) {
  .quiz-category {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quiz-one {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 400px;
    padding: 2rem 5px;
    margin: 1.5rem;
  }

  .quiz-two {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 400px;
    padding: 2rem 5px;
    margin: 1.5rem;
  }

  .link{
    padding-left:0.5rem 1rem ;
  }

  .center-link{
    display:flex;
    justify-content:center;
  }
}
