.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem;
    height:4rem;
    background-color:#131417;
    text-decoration:none;
    color:white;
}

.header Link{
    text-decoration:"none";
    color:white;
}
.links{
    display:flex;
    justify-content:space-between;
    text-decoration:none;
    color:white;
}

.links button{
    background:black;
    outline:none;
    color:white;
}

@media only screen and (max-width: 768px) {
    .header{
        width:100vw;
    }
}