.table{
    display:flex;
    flex-direction:column;
    border:1px solid black;
    margin:0.5rem;
}

.row{
    display:flex;
    justify-content:space-evenly;
    border:1px solid black;
    padding:0.5rem;
    text-align:center;
}
.row .table-header{
    font-weight:bold;
    border-right:1px solid black;
    width:100%;
    font-size:1.5rem;
    text-decoration:underline;
}
.table-head{
    border-right:1px solid black;
    width:100%;
}